//= require leaflet
@import "bootstrap";
@import "bootstrap/theme";

html,body {height:100%;}
#map {
  height: 700px;
}
.no-margin-bottom{
  margin-bottom: 0px;
}
.border-bottom{
  border-bottom: 1px solid $table-border-color;
}
