%table.table.table-condensed.no-margin-bottom.border-bottom
  %tbody
    %tr
      %td
        Могилев
      %td
        08.30
      %td
        09.25
    %tr
      %td
        Белыничи
      %td
        10.16
      %td
        11.25
    %tr
      %td
        Березино
      %td
        12.06
      %td
        13.25
    %tr
      %td
        Червень
      %td
        15.16
      %td
        15.55
    %tr
      %td
        Минск
      %td
        10.16
      %td
        11.25