.col-md-2{style: 'padding-top:20px;'}
  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
            МАЗ 9216 АЕ-6
      #collapseOne.panel-collapse.collapse.in
        .panel-body
          = render partial: 'example'
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
            Mercedes 2311 СК-6
      #collapseTwo.panel-collapse.collapse
        .panel-body
          = render partial: 'example'
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree"}
            ГАЗ 1246 КЕ-6
      #collapseThree.panel-collapse.collapse
        .panel-body
          = render partial: 'example'
.col-md-10{style: 'padding: 0px;'}
  #map